*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button{
    padding: 20px 40px;
    background-color: slateblue;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    outline: none;
    z-index: 1;
}