    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html , body{
        height: 100%;
        width: 100%;
        background-color: #000;
    }
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    .box{
        height: 100px;
        width: 200px;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: -10px -10px 20px blue;

    }

