* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: relative;
}

.card {
    height: 500px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.card div {
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 100%;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 2rem;
    text-align: center;
}

.card i {
    font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg');
    color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.66, 1.46, .6, 1.16) 0.3s;
}